$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.header-primary {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.list-item {
  display: flex;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  align-items: center;
  &__character {
    width: 15%;
    &--name {
      font-weight: 700;
    }
    &--class {
    }
  }

  &__loot {
    width: 50%;
  }
  &__dkp {
    width: 85%;
    display: flex;
    justify-content: space-between;
    > div {
      width: 33%;
    }
    &--current {
      font-weight: 700;
      font-size: 2rem;
    }
  }
}

.button-toggles {
  margin-bottom: 2rem;
}

// Trying to make everything more generic
.list-item {
}

.reward__loot--item {
  color: #a335ee !important;
  font-weight: 700;
}
.dkptable__player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    margin-right: 15px;
  }
}
